extends ../account

block aside
    .user-view__form-container
        h2.heading-secondary.ma-bt-md Your Reviews
        if hasReviews 
            .reviews #{count}
        else 
            .reviews  No Review Yet
        
         

