footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='/about-us') About us
    li: a(href='/download-app') Download apps
    li: a(href='/become-a-guide') Become a guide
    li: a(href='/careers') Careers
    li: a(href='/contact') Contact
  p.footer__copyright &copy; Joshua Evuetapha, 2022!