.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social_login_div {
    display: flex;
    justify-content: center;
}

.social_login {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 25em;
}

.social_login p {
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 1em;
    align-self: center;
}

.social_login:hover {
    border: 2px solid whitesmoke;
    background-color: blue;
    color: white;
}

.left { 
    display: flex;
    justify-content: right;
}

.nav--logout {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu {
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: none;
}

.small-nav {
/*    position: absolute;
    top: 20px;*/
    margin-top: -60px;
    font-size: 30px;
    color: black;
}